[phases.setup]
nixPkgs = ["python312", "python312Packages.pip"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install torch==2.9.1+cpu --index-url https://download.pytorch.org/whl/cpu",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"

